* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Indie Flower', cursive;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #282a36;
  color: white;
}

#gameBoard {
  height: 450px;
  width: 450px;
  background-color: #ff79c6;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  row-gap: 6px;
  column-gap: 6px;
}

.block {
  background-color: #282a36;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
  cursor: pointer;
}

.winner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    height: 15rem;
    color: black;
    background-color: white;
    position: fixed;
    padding: 2rem;
    border-radius: 20px;
    border-bottom: 5px solid transparent;
}

.winner:hover {
    border-bottom: 5px solid #f1fa8c;
}



#displays {
    margin-bottom: 1rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.display {
    color: #f1fa8c;
}

.start {
  width: 50%;
  height: 35%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: fixed;

}

.playersName {
  display: flex;
  flex-direction: column;
}

.playersName > input {
  margin: 1rem;
  padding: 1rem;
}

.btn {
  background-color: #f1fa8c;
  font-size: 1rem;
  padding: .5rem 1rem .5rem 1rem;
  cursor: pointer;
}

h1 {
  margin-bottom: 4rem;
}